@CHARSET "ISO-8859-1";

.test{
	height: 20px;
}


body {
	width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
	font-family: "Arial";
	font-size: 12px;
	-webkit-print-color-adjust:exact;
}
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
h2 {
	color:#1C56C2
}

h3 {
	font-size: 15px;
}

p {
	line-height: 1.5;
	font-size: 15px;
	text-align: justify;
}


tr{
	align: center;
	font-size: 15px;
	height: 20px;
}

td {
	line-height: 1.2px;
	font-size: 15px;
	height: 20px;
}

th {
	border: 1px solid black;
}

.risk {
	border: 2px solid black;
	width: 50%;
	border-color: #FFFFFF;
}

.trrisk {
	padding: 5px;
	border: 1px;
}

.tdriskleft {
	border: 0px solid black;
	width: 55%;
	border-color: #FFFFFF;
	padding: 20px;
}

.tdriskright {
	border: 2px solid black;
	text-align: right;
	width: 45%;
	border-color: #FFFFFF;
	padding: 20px;
}


.tdrisk2{
	border: 0px;
	border-color: #FFFFFF;
	padding: 0px;
	font-size: 13px;
	text-align:center;
}
.tdallokation{
	font-size: 15px;
	padding: 5px;
}

.tdallokation1{
	width: 50%;
	font-size: 15px;
}

.tdallokation2{
	width: 20%;
	font-size: 15px;
	text-align: center;
}

.tdallokation3{
	width: 30%;
	font-size: 15px;
	text-align: center;
}
	
.tdfundamental1{
	width: 60%;
	font-size: 15px;
}

.tdfundamental2{
	width: 15%;
	font-size: 15px;
	text-align: right;
}

.tdfundamental3{
	width: 25%;
	font-size: 15px;
	text-align: right;
}


.thoverview {
	width: 30.9%;
}
.tdoverview1 {
	width: 30.9%;
}
.tdoverview2 {
	width: 17.415%;
}
.tdoverview3 {
	width: 23.03%;
}
.tdoverview4 {
	width: 7.87%;
}
.tdoverview5 {
	width: 8.99%;
	text-align:right;
}
.tdoverview6 {
	width: 11.7%;
	text-align:right;
}



.center{
	margin: auto;
	width: 95%;
	pading: 10px;
	text-align: center;
}

.page {
    width: 210mm;
    min-height: 297mm;
    padding: 10mm;
    margin: 10mm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 1px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.page2-table {
	align: center;
	width: 100%;
	height: 100%;
}

.page2-chart {
	width: 80%;
}

/* #qelv-marketexposure-chart {
	width: 100% !important;
    max-width: 190mm;
    height: auto !important;
    max-height: 60mm;
}

#performancedifferenz-chart {
	width: 100% !important;
    max-width: 190mm;
    height: auto !important;
    max-height: 60mm;
}

#fondsperformance-seit-auflage-chart {
	width: 100% !important;
    max-width: 190mm;
    height: auto !important;
    max-height: 60mm;
} */

.performance_risiko_table {
	width: 100%
}

.subpage {
    padding: 1mm;
    border: 5px red solid;
    height: 257mm;
    outline: 2cm #FFEAEA solid;
}

@page {
    size: A4;
    margin: 0;
}

@media screen {
    div.pageHeader {
        display: none;
    }
}

#manager-kommentar{
	text-align: justify;
    text-justify: inter-word;
    font-size: 14px;
}

.middle_section_table{
	table-layout: fixed;
}

.equal_cells{
	width: 50%;
}

canvas {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

@media print {
	div.pageHeader {
        position: fixed;
        top: 0;
    }
    html, body {
        width: 210mm;
        height: 297mm;        
    }
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
    .back-link {
    	display: none;
    }
}


div, ul, li {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 95%;
  margin: 0 auto;
}

.containertable {
  width: 100%;
  margin: 0 auto;
}

.header {

}

.links{
  float: left;
  width: 50%;
  height: 90px;
}

.linkstable{
  float: left;
  width: 51.282%;
  height: 260px;
  background-color:#ff5;
}

.tablefundamental{
  float: left;
  width: 65%;
  height: 60px;
  background-color:#ff5;
}

.rechts{
  float: left;
  width: 50%;
  height: 90px;
  align: right;
}
.rechtstable{
  float: left;
  width: 48.718%;
  height: 260px;
  background-color:#ff5;
  align: right;
}
.tablerisk{
  float: left;
  width: 35%;
  height: 60px;
  background-color:#ff5;
  align: center;
}

